footer{
   display:block;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   position: relative;
   bottom: 0;
   background:#343434;
   color: white;
   padding-top: 25px;
   font-size: 13px;
   line-height: 20px;
}
    
.container{
    max-width: 100vw;
    margin: 0px !important;
    display: flex;
    /* padding-left: 150px; */
    justify-content:space-around;
}

    .row{
    width: 85%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-center;
    justify-content: space-between;
    }
    
    .col{
     flex-basis: 22%;
     padding:10px;
    }
    
    .logo1{
      width: 50%;
      margin-bottom: 30px;
    }
    
    .col h3{
      width: fit-content;
      margin-bottom: 40px;
      position: relative;
    }
    
    .col ul{
      display: flex;
      flex-direction: column;
      padding-inline-start: none !important;
    }
  
    ul li{
      list-style:none;
      float: left;
      margin-bottom: 10px;
    }
    
    .col ul li a{
      text-decoration : none;
      color: white;
    }
    
    form{
      padding-bottom: 15px;
      display: flex;
      align-items:center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom : 50px; 
    }
    
    form .icon{
      font-size:20px;
      margin-right: 10px;
    }
    
    form input{
      width:100%;
      background: transparent;
      color: #ccc;
      border: 0;
      outline: none;
    
    }
    
    .social-icons{
      display: flex;
      gap: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align:center;
      line-height: 40px;
      font-size: 20px;
      margin-right: 15px;
      cursor: pointer;
      color: white;
      line-height: 22px;
      padding-left: 20px;
    }
  
    .social-icons ul{
      margin-top: -30px;
      padding-left: 15px;
    }

    .social-icons li a{
      color: white;
    }
  
  .bottom-bar{
    display: block;
    position: relative;
    background: #f18930;
    text-align: center;
    padding: 10px;
    line-height: 8px;
    margin-top: 20px;
  }

  .container .footer-content .list li a{

    list-style: none;
    text-decoration: none;
    color: white;
  }

  .list{
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    line-height: 22px;
  }

  @media screen and (max-width: 940px){
    .bottom-bar{
      position: relative;
      padding-bottom: 65px;
    }

    .bottom-bar p{
      height: auto;
    }
  }

  @media screen and (max-width:776px){

    .bottom-bar{
      display: flex;
      flex-direction: column;
      line-height: 20px;

    }

    .bottom-bar p {
      display: table;
      justify-content: center;
      margin: 0px;
    }
    .bottom-bar>div{
      display: contents;
    }
  }