/* h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
/* 
*{
box-sizing: border-box;
} */

html,body {
margin: 0;
margin-right: 0px !important;
width: 100vw;
font-family: system-ui, sans-serif; color: black;
background-color: white;
overflow-x: hidden;
scroll-behavior: smooth;
transition-duration: 0.3s;
-webkit-overflow-scrolling: touch;
}

h1 {
font-weight: 800;
font-size: 1.5rem;
}

.app{
  display: flex;
  position: relative;
  margin-top: 78px;
  background-image: url(../public/FFC-Banner-WEB-1_11zon.jpeg);
  background-size: cover;
  background-size: 1370px 641px;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
  background-position: 50%;


}

.bannerFlex{
  display: inline-flex;
  position: absolute;
  top: 40vh;
  width: 100vw;
  height: 23vh;
  background-color:black;
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  background-color: rgba(5, 0, 0, 0.582);
  justify-content: center;
}

.bannerFlex p{
  position: absolute;
  top: -30px;
}

.menuContainer {
display: block;
position: fixed;
height: 80px;
width: 100vw;
top: 0px;
left: 0px;
border: 1px solid black;
background-color: white;
box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.12);;
/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.15); */
z-index: 100;
}

.menuList {
display: flex;
position: relative;
top: 10px;
gap: 25px;
float: right;
padding-right: 60px;
}

ul {
list-style: none;
}

.menulist li:hover{
background-color: rgb(224, 222, 222);
}

.logo{
  font-weight: bolder;
  font-size: larger;
  position: absolute;
  width: 76px;
  height: 60px;
  left: 40px;
  top: 9px;

  cursor: pointer;
  }

  .logoText{
    position: absolute;
    display: block;
    padding-bottom: 8px;
    max-width: 380px;
    height: 40px;
    left: 110px;
    top: -5px;
    margin-right: 12px;
    padding: 15px 15px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }

  .menulist li {
  display: flex;
  position: relative;
  height: 100%;
  width: auto;
  gap: 10px;
  }

  .menulist li > a {
    display: flex;
    position: relative;
    height: 40px;
    width: auto;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
  }

  .menuIcon{
    display: none;
    position: absolute;
  }

  .test1{
    display: flex;
    transform: translateX(0px);
    animation: test1 3s linear infinite;
  }

.image{
position: relative;
display: flex;
margin-top: 81px;
height: 65vh;
/* width: 1250px; */
width: 100%;
background-size: cover;
background-position: 100%;
/* border: 1px solid black; */
/* transition: 0.3s ease; */
z-index: 0;
}

.board{
  display: inline-flex;
  position: relative;
  height: auto;
  width: 80vw;
  left: 10%;
  padding-top: 80px;
  /* top: 540px; */
  justify-content: center;
  justify-self: center;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 20px;
  resize: both;
}

.contentTitle{
  position: absolute;
  top: -10px;
  font-size: 30px;
  border-bottom: 5px solid #551a8b;
}

.content{
  position: relative;
  display: inline !important;
  top: 30%;
  justify-self: center;
  white-space: pre-wrap;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  /* color: rgba(47, 52, 63, 0.56); */
  color: black;
 
}

.facts{
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  margin-top: 20px;
  width: 80%;
  left: 10%;
  gap: 5px;
  height: 120px; 

}

.facts1{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 150px;
  /* border: 1px solid green; */
  border-radius: 10px;
  top: -10px;
  text-align: center;
  background-color: rgb(165, 231, 65);
  font-size:10px;
  color: white;
  padding: 10px;
  margin-top:10px;
  margin-bottom: 0px;
}

.donationFooter{
  position: relative;
  display: flex;
  border: 1px solid black;
  width: 90%;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  left: 5%;
}

.app1{
  justify-content: center;
}

.donationContainer{
  display: flex;
  /* position: relative; */
  /* height : 400px; */
  gap: 100px;
  top: 1100px;
  width: 100vw;
  gap: 25px;
  margin-top: 100px;
  justify-content: center;
  border: 1px solid black;
  background-color: yellow;
  scroll-behavior: smooth;
}

.donationBox{
  position: relative;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.34);
  border-radius: 12px;
  padding: 0;
  margin-bottom: 10px !important;
  background-color: white;
  width: 540px;
  height:fit-content;
  justify-self: left;

  border: 2px solid #60349e;
}

.donationList{
  position: relative;
}

.donationFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: auto;
  height: 51px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  z-index: 0;
}

.donationFlex1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 340px;
  height: 51px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  z-index: 0;
}

.donationList .title{
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2b2e33;
  margin: 15px 0 15px 0;
}

.donateNow{
  min-width: 178px;
  height: 36px;
  padding: 7px 16px;
  margin: 6px 0 !important;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #60349e;
  border-radius: 24px;
  border: 1px solid #60349e;
  align-self: center;
  justify-self: center;
  z-index: 100;
}

.donateNow:hover {
  color: white;
  background-color: #60349e;
}

.donationFlex :hover{
  background-color:  #60349e;
}

.donationInput{
  position: absolute;
  width: 77%;
  left: 35px;
  height: 46px;
  background: #f6f7f8;
  border-radius: 12px;
  display: flex;
  font-size: 14px;
  padding: 0 13px;
  margin: 10px 0 0 4px;
  border: 1px solid #f6f7f8;
  outline: none
}

.inputCont{
  display: inline-flex;
  position: relative;
  justify-self: center;
  width: 80%;
  height: 100px;
  margin-top: 10px;
  left: 10%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.34);
  border-radius: 8px;
  padding: 0;
}

.cardContainer{
  position: relative;
  display:flex;
  margin-top: 50px;
  margin-bottom: 130px;
  /* border: 1px solid black; */
  width: 80%;
  height: auto;
  left: 10%;
  justify-content: space-between;
  align-items: top;
}

.c1{
  position: relative;
  display: block;
  /* border: 1px solid black; */
  align-items:center;
  width: 266px;
  min-height: 210px;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12), 0px 0px 10px rgba(0, 0, 0, 0.34);
 -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.34)
}

.c1:hover{
  box-shadow: 0px 5px 15px rgba(0.12, 0, 0, 0.12), 0px 5px 6px rgba(0, 0, 0, 0.34);
}

.cardContainer span{
  font-weight: 700;
}

.cardContainer p{
  position: relative;
  top: 30px;
  font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #2b2e33;
    margin: 10px 0;
}

.cardContainer .info{
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(47, 52, 63, 0.56);
  display: inline;
  position: absolute;
  top: 100px;
  margin-right: 10px;
}

  .cardDonateBtn{
    position: absolute;
    top: 180px;
    min-width: 105px !important;
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), inset 0px -4px 0px #451c7e;
    font-family: "Lato";
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #60349e;
    vertical-align: middle;
    white-space: pre-line;
    text-align: center;
    border-radius: 32px;
    cursor: pointer;
    border-bottom: none;
  }

  .gallery{
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 20px;
    border: 1px solid black;
    width: 80vw;
    height: 80vh;
    left: 10%;
    overflow: hidden;
  }

.galleryContainer{
  display: flex;
  position: relative;
  width: 61.6vw;
  height: calc(100vh - 80px);
  border: 1px solid green;
  justify-self: center;
  left: 6.5%;
  margin-top: 100px;
  display: inherit;
  /* transform: translate3d(-100%, 0px, 0px);
  transition: all 1000ms ease-out 0s; */
  animation: gallery 1s ease-out 0s infinite linear;
  overflow:hidden ;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #32ca38;
  font-weight: bolder;
}

.galleryNews{
  display: flex;
  position: relative;
  width: 95vw;
  height: 36vh;
  /* border: 1px solid black; */
  justify-content: space-evenly;
  padding-bottom: 50px;
  margin-top: 30px;
  left: 3.5%;
  

}

.galleryNews img{
  width: 30%;
  height: 100%;
  border: 2px solid yellow;
}

.videoContainer{
  display: flex;
  position: relative;
  height: 50vh;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 80vw;
}

.donateButton{
  position: relative;
  top: -10px;
  align-self: center;
  border-radius: 90px;
  background-color: rgba(241, 152, 18, 0.937);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px, rgb(226, 121, 1) 0px -4px 0px inset;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding-top: 6px;
  list-style: none;
  text-decoration: none;
  -webkit-overflow-scrolling: touch;
}


@keyframes gallery {
  0%{
    transform: translate3d(0px, 0px, 0px);

  }
  25%{
    transform: translate3d(-100%, 0px, 0px);

  }
  50%{
    transform: translate3d(-200%, 0px, 0px);

  }
  75%{
    transform: translate3d(-300%, 0px, 0px);

  }
  100%{
    transform: translate3d(-400%, 0px, 0px);
    transition-delay: 3s;
  }
}

@keyframes test1{
  0%{
  transform: roateX(0px);
  }
  100% {
  transform: rotate(10deg);
   }
  }


  @media screen and (max-width: 940px) {
  .menuList{
  display: none;
  opacity: 0;
  position: fixed;
  top: -16px;
  right: -140px;
  width: 200px;
  height: 100%;
  gap: 0px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  transition: 1s ease;

  }


  .menulist li > a {
    position: relative;
    list-style: none;
    text-decoration: none;
    width: 250px;
    height: 20%;
    color: black;
    }

  /* .menuList > li {
    position: relative;
    
    width:100%;
    height: 40px;
    justify-content: center;
    text-align: center;
    padding-left: 0%;
    font-size: large;
    font-weight: bolder;
    list-style: none;
  } */

  .menuIcon{
  position: absolute;
  display: flex;
  top: 22px;
  right: 35px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bolder;
  transition: 0.3s ease;
  }

.menuIconClicked{
  position: absolute;
  display: flex;
  top: 22px;
  right: 135px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bolder;
  margin-right: 120px;
  transition: 0.3s ease;
}

.menuContainer {
  display: block;
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100vw;
  left: 0px;
  right: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-out;
  z-index: 200;
}

.menuContainerClicked {
position: fixed;
display: block;
height: 80px;
width: 100%;
margin-right: 50%;
top: 0px;
left: 0px;
right: 0px;
border: 1px solid black;
box-shadow:
4px 8px rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
transition: 0.3s ease;
background-color: white;
z-index: 200;
}

.menuListClicked{
  margin-right: 100px;
  opacity: 1;
  display: flex;
  position: fixed;
  top: -16px;
  right: -120px;
  width: 200px;
  height: 100%;
  gap: 0px;
  background-color: white;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: left;
  border: 1px solid black;
  cursor: pointer;
  animation: test 0.3s ease-in-out;
  list-style: none;
  text-decoration: none;
  z-index: 210;
}

.menulistClicked > li > a, .menuList > li >a{
position: relative;
list-style: none;
text-decoration: none;
justify-self: left;
padding-left: 30px;
width:250px;
height: 20%;
color: black;
}

.menuListClicked li, .menuList li {
  position: relative;
  width: 220px;
  height: 45px;
  justify-content: center !important;
  text-align: left;
  padding-left: 0px;
  padding-top: 12px;
  left: -10px;
  font-size: large;
  font-weight: bolder;
  align-items: center !important;
  border-bottom: 1.8px solid grey;
  }

.image1{
margin-right: 90px;
position: relative;
display: flex;
margin-top: 81px;
/* width: 1250px; */
width: 915px;
height: 100%;
right: -20px;
left: -16px;
border: 1px solid black;
/* transition: 0.3s ease; */
z-index: 0;
}

.app{
  display: flex;
  width: 100vw;
  height: 100vh;

  display: flex;
  position: relative;
  margin-top: 78px;
  background-image: url(../public/FFC-Banner-WEB-1_11zon.jpeg);
  background-size: contain;
  background-size: 1370px 641px;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
  background-position: 50%;
}

.sticky{
  position: fixed;
  width: 100%;
  top: 0px;
  opacity: 1;
  z-index: 100;
  background-color: white;
}

.donationContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: 0.3s ease; */
}

.donationBox{
  width:340px;
}

.app1{
  border: 1px solid black;
  justify-content: center;
}

.cardContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 30px;
  transition: 5s ease;
}

.facts{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height:auto;
  justify-content: center;
  align-items: center;
}

.facts1{
  justify-content: center;

}


.galleryNews{
  border: 1px solid black;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: auto;
}

.videoContainer{
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: center;
  gap: 30px;
}

.donateButton{
  position: relative;
  top: 10px;
  right: 60px;
  align-self: center;
  border-radius: 90px;
  background-color: rgba(241, 152, 18, 0.937);
  color: white;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding-top: 6px;
  list-style: none;
  text-decoration: none;
}

.donationSticker{
  display: flex;
  position: fixed;
  background-color: blue;
  color: white !important;
  font-weight: 600;
  left: 0;
  margin-top: -50px;
  right: 0;
  bottom: -15px;
  z-index: 1000;
  height: 75px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}



@keyframes test {
  0% {
  display: flex;
  margin-right: 0px;
  opacity: 0;
  }
  100% {
  display: flex;
  margin-right: 100px;
  opacity: 1;
  }
}

}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
  }
}