#testimonials {
  display: flex;  
  padding: 80px 0;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

  #testimonials h2{
    color: rgb(96, 52, 158);
    /* left: 38%; */
    position: relative;
    /* font-size: 35px; */
    border-bottom: 5px solid black;
    margin-bottom: 60px;
  }

  @media (max-width: 48em) {
    #testimonials {
      width: 100%;
      text-align: center;
      display: flex;  
      padding: 80px 0;
      background: white;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      text-align: center;
    }

    .testimonial {
      position: relative;
      padding: 20px;
      width: 60vw;
    }  
  }
  
  
  #testimonials i {
    color: #e6e6e6;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .testimonial {
    position: relative;
    padding: 20px;
  }
  .testimonial-image {
    float: left;
    margin-right: 15px;
  }
  .testimonial-image,
  .testimonial-image img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  .testimonial-content {
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    text-wrap: wrap;
  }
  .testimonial-content p {
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
    text-wrap:wrap;
  }
  .testimonial-meta {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #666;
  }

  .row{
    flex-direction: column;
  }